body {
    background-image: url(https://pm1.narvii.com/6335/4e92a52d3427ef6b24ea7fb88c40fda9582b005d_hq.jpg);
}
h1 {
    text-align: center;
    background-color:#dcdcdc;
    padding-top:2%;
    font-family: Comic Sans MS;
    height: 10%;
}
h2 {
    text-align: center;
    background-color: #dcdcdc;
    font-family: Comic Sans MS;
}
.main img{
    text-align: center;
    border-radius: 50%;
    border:solid;
    border-color:#dcdcdc;
    
}
table {
    margin-top:5%;
    float:right;
    margin-right:10%;
    

}
.descricao {
    text-align: center;
    background-color: #dcdcdc;
    font-family: Comic Sans MS;
    

}
.imageSide{
   margin-top:6%; 
    float: right;
    border-radius: 10%;
    border:solid;
    border-color:#dcdcdc;
    
}